<!-- block_todays_birthday_template.mustache -->

<div class="block block_todays_birthday">
    <div class="content">
        {{{block_content}}}
        <p><a href="{{url_todos}}">{{ver_todos}}</a></p>
        <p><a href="{{url_home}}">{{voltar_inicio}}</a></p>
    </div>
</div>
