<!-- block_todays_birthday_template.mustache -->

<style>
    .block_todays_birthday img {
        border-radius: 50%;
        margin-right: 10px;
    }
    .block_todays_birthday img, .block_todays_birthday p {
        margin-bottom: 5px;
    }
</style>

<div class="block block_todays_birthday">
    <div class="content">
        {{#aniversariantes}}
            <img src="{{foto_html}}" alt="{{fullname}}">
            {{fullname}}
            <br>
        {{/aniversariantes}}
        <p><a href="{{url_todos}}">{{ver_todos}}</a></p>
    </div>
</div>
